.logo {
    width: 90px;
    height: 50px;
    display: none;
}

.nav-main {
    background-color: #00A652;
}

.route-item {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 0px 10px 0px 0px;

}

.route-item:hover {
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}


.dropdown-item:focus, .dropdown-item:hover {
    background-color: #194079;
    color: #fbfbfb;
}
.dropdown-divider {
    border-top: 1px solid rgb(229 194 194);
}
.drop-item-main:hover{
    background-color: #194079;

}
.drop-item{
    text-decoration: none;
    color: #4c4736;
    padding: 0 0px 0px 16px;
}
.drop-item:hover{
    color: #fbfbfb;
    text-decoration: none;
}

/* 
.navbar-expand-md .navbar-nav .nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.dropdown-menu {
    border-top: 1px solid white;
    margin-top: 7px;
    padding: 0px 0px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #194079;
}

.dropdown-item {
    padding: 16px 12px;
}

.nav-mr {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1.5px solid lightgray;
}

.nav-mr {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1.5px solid lightgray;
}

.nav-mr:last-child {
    border-right: 0px;
}

.bg-color {
    background-color: #00A652;
    color: white;
}

.color-white {
    color: white;
} */

@media only screen and (max-width: 667px) {
    .logo {
        width: 70px;
        height: 36px;
        display: block;
    }
}

@media only screen and (max-width:991px) and (min-width:668px) {
    .logo {
        width: 70px;
        height: 36px;
        display: block;
    }
    .route-item-main{
       
    }
    .route-item {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin: 0px 10px;
    
    }
}

@media only screen and (max-width: 1200px) and (min-width:992px) {
    
}